.progressBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .timer {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    margin-bottom: 26px;
  }
  .progress {
    width: 681px;
    height: 26px;
    border-radius: 10px;
    appearance: none; // Убираем дефолтные стили браузера

    &::-webkit-progress-bar {
      background-color: #ffa500; // Цвет задней части полоски
      border-radius: 10px; // Закругление углов
    }

    &::-webkit-progress-value {
      background-color: #e0e0e0; // Жёлтый цвет прогресса
      border-radius: 10px 0 0 10px;
    }

    &::-moz-progress-bar {
      background-color: #e0e0e0; // Для Firefox
      border-radius: 10px 0 0 10px;
    }

    &::-ms-fill {
      background-color: #e0e0e0; // Для Internet Explorer/Edge
      border-radius: 10px 0 0 10px;
    }
  }
}
